
html {
   box-sizing: border-box;
   font-size: 62.5%;
   /*  */
   /* 1 rem = 10px*/
}

*,
*:before,
*:before {
   box-sizing: inherit;
}

.cuerpo {
   /*cuer´p*/
   background-color: #005c63;
   height: 100%;
   width: 100%;
   font-size: 1.6rem;
   padding: 0;
   margin: 0;

}

.centrar {
   text-align: center;
}

.no-resize{
   resize: none;
}

.sin-margen{
   margin: 0;
}


img {
   width: 100%;
}

h1 {
   text-align: center;
}

main {
      height: 100%;
   }


.contenedor {
   width: min(95%, 150rem);
   margin: 0 auto;
   font-family: var(--fuenteTablaTitulo);
   height: 100%;
}



/*HOme*/
.home-contenedor{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   column-gap: 2rem;
}

.home-logo-institucion{
   width: 15rem;
   object-fit: contain;
}

.home-nombre-sistema{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:flex-start;
}

.home-nombre-sistema h1{ 
   font-size: 6rem;
   margin: .5rem 0rem;
}

.home-nombre-sistema p{ 
   font-size: 2rem;
   margin: 0;
}

.home-nombre-sistema span{ 
   font-weight: 700;
}


.contenedor2 {
   background-color: var(--colorContendor);
   padding: 1.5rem;
   border-radius: 2rem;
   color: var(--colorTablacelda);
   width: 100%;
   margin: 3rem 0 3rem 0;
   transition: background-color 0.3s ease;
}

