{% extends 'core/base_media.html'%}

{% block title %}Historial Paciente{% endblock title %}

{% load permisos_unidad %}
{% block content %}


<div class="contenedor2 pacienteHistorial"> 

        <div class="tituloFormulario">
            <div class="tituloFormulario-texto"> 
                <i class="bi bi-journal-medical"></i>
                <h2 class="sin-margen">Historial - <strong>{{info_paciente.nombreCompleto}}</strong></h2>
            </div>
            <div class="tituloFormulario-subrallado"></div>
        </div>

        <div class="HistorialPacienteCampos">
            <div class="formulario__tarjeta">
                <div class="formulario__tarjeta-titulo">
                    <i class="bi bi-person-vcard"></i>
                    <span>Datos Generales</span>
                </div>


                <div class="formulario__tarjeta-campos  historialPacienteCampos">

                    <div class="formulario__tarjeta-campo">
                        <label>DNI</label>
                        <span class="formularioCampo-valor">{{ info_paciente.dni }}</span>
                    </div>

                    <div class="formulario__tarjeta-campo">
                        <label>Nombre</label>
                        <span class="formularioCampo-valor">{{ info_paciente.nombreCompleto }}</span>
                    </div>

                    <div class="formulario__tarjeta-campo">
                        <label>Fecha de Nac.</label>
                        <span class="formularioCampo-valor">{{ paciente.fecha_nacimiento }}</span>
                    </div>

                    <div class="formulario__tarjeta-campo">
                        <label>Edad</label>
                        <span class="formularioCampo-valor">{{ info_paciente.edad }}</span>
                    </div>

                    <div class="formulario__tarjeta-campo">
                        <label>Sexo</label>
                        <span class="formularioCampo-valor">{{ info_paciente.sexo }}</span>
                    </div>

                    <div class="formulario__tarjeta-campo">
                        <label>Teléfono</label>
                        <span class="formularioCampo-valor">{{ info_paciente.telefono }}</span>
                    </div>

                    <div class="formulario__tarjeta-campo">
                        <label>Domicilio</label>
                        <span class="formularioCampo-valor">{{ info_paciente.domicilio }}</span>
                    </div>

                    <div class="formulario__tarjeta-campo">
                        <label>Madre</label>
                        <span class="formularioCampo-valor">
                            {% if info_madre.nombre_completo %}
                                {{ info_madre.nombre_completo }}
                            {% else %}
                                -------
                            {% endif %}
                        </span>
                    </div>

                    <div class="formulario__tarjeta-campo">
                        <label>Ult. Visita</label>
                        <span class="formularioCampo-valor">{{ ultima_atencion }}</span>
                    </div>

                    {% if info_defuncion %}
                    <div class="formulario__tarjeta-campo">
                        <label>Defunción</label>
                        <span class="formularioCampo-valor">
                            {{ info_defuncion.fecha }} - {{ info_defuncion.unidad_clinica }}
                        </span>
                    </div>
                    {% endif %}

                    {% if paciente.fecha_sai %}
                    <div class="formulario__tarjeta-campo">
                        <label>SAI</label>
                        <span class="formularioCampo-valor">{{ paciente.fecha_sai }}</span>
                    </div>
                    {% endif %}



                </div>
            </div>

            <div id="estadoExpediente">
                {% include "paciente/partials/_estado_expediente.html" %}
            </div>
            
        </div>




        <div class="historialTabs">

            {% if tabs.ingresos %}
                <button class="historialTabsBoton {% if tabActiva == 'ingresos' %}active{% endif %}" data-tab="historialIngresos">
                    <i class="bi bi-activity historialTabsBoton__logo"></i>
                    <span class="historialTabsBoton__texto">INGRESOS</span>
                </button>
            {% endif %}

            {% if tabs.atenciones %}
                <button class="historialTabsBoton {% if tabActiva == 'atenciones' %}active{% endif %}" data-tab="historialConsultas">
                    <i class="bi-thermometer-half historialTabsBoton__logo"></i>
                    <span class="historialTabsBoton__texto">ATENCIONES</span>
                </button>
            {% endif %}

            {% if permiso_dispensacion %}
                <button class="historialTabsBoton" id="historialTabsBotonDispensaciones" data-tab="historialDispensaciones">
                    <i class="bi bi-capsule-pill historialTabsBoton__logo"></i>
                    <span class="historialTabsBoton__texto">DISPENSACIONES</span>
                </button>
            {% endif %}

            {% if tabs.radiologia %}
                <button class="historialTabsBoton {% if tabActiva == 'radiologia' %}active{% endif %}" data-tab="historialEvalucionesRX">
                    <i class="bi-radioactive historialTabsBoton__logo"></i>
                    <span class="historialTabsBoton__texto">RADIOLOGÍA</span>
                </button>
            {% endif %}

        </div>

        <div class="fieldset-falso">

            {% if tabs.ingresos %}
                <div class="historial-tab-contenido {% if tabActiva == 'ingresos' %}active{% endif %}" id="historialIngresos">
                    <table id="historialTablaIngresos" class="display">
                        <thead>
                            <tr>
                                <th>#Num</th>
                                <th>Ingreso</th>
                                <th>Egreso | Usuario</th>
                                <th>SDGI | Usuario</th>
                                <th>Sala | Servicio</th>
                                <th>Modificado | Usuario</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if tabs.atenciones %}
                <div class="historial-tab-contenido {% if tabActiva == 'atenciones' %}active{% endif %}" id="historialConsultas">
                    <table id="historialTablaConsultas" class="display">
                        <thead>
                            <tr>
                                <th>#Num</th>
                                <th>Atencion</th>
                                <th>Recepcion</th>
                                <th>Area Atencion | Servicio</th>
                                <th>Modificado | Usuario</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if permiso_dispensacion %}
                <div class="historial-tab-contenido" id="historialDispensaciones">
                    <table id="historialTablaDispensaciones" class="display">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Medicamento</th>
                                <th>Prescrita</th>
                                <th>Dispen.</th>
                                <th>Servicio</th>
                                <th>Medico</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if tabs.radiologia %}
                <div class="historial-tab-contenido {% if tabActiva == 'radiologia' %}active{% endif %}" id="historialEvalucionesRX">
                    <table id="historialTablaEvaluacionesRx" class="display">
                        <thead>
                            <tr>
                                <th>#Num</th>
                                <th>Fecha</th>
                                <th>Unida Clinica</th>
                                <th>Maquina</th>
                                <th>Estudios</th>
                                <th>Modificado</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            {% endif %}

        </div>
        
        
        <a href="javascript:history.back()" 
        class="formularioBotones-boton" 
        style="width: fit-content; margin: 10px auto;">
            <i class="bi bi-arrow-left-circle formularioBotones-icono"></i>
            <span>Volver</span>
        </a>

</div>




{% endblock content %}
{% load static %}


{% block media_js %}
    <script>
        const idPaciente = "{{ paciente.id }}";
        const nombrePaciente = "{{ info_paciente.nombreCompleto }}"
        const numeroExpediente = "{{ info_expediente.numero }}"
        const edadPaciente = "{{ info_paciente.edad }}".split(",")[0].trim();
        const sexoPaciente = "{{ info_paciente.sexo }}";

        const urlEstadoExpediente = "{% url 'estado_expediente_partial' paciente.id %}";
    </script>


    <script src="{% static 'core/scripts/features/historialPaciente.js' %}"></script>
    
    <script src="{% static 'core/scripts/modals/galeria_modal.js' %}"></script>


{% endblock media_js %}