{% extends 'core/base_media.html'%}

{% block title %}Mantenimiento{% endblock title %}

{% block content %}
    <div class="contenedor2 dataTables_wrapper"> 
        <div class="tituloFormulario" style="margin-bottom: 2rem;">
            <div class="tituloFormulario-texto"> 
                <i class="bi bi-wrench-adjustable-circle-fill"></i>
                <h2 class="sin-margen">Mantenimiento</h2>
            </div>
            <div class="tituloFormulario-subrallado"></div>
        </div>

        
    <div class="mantenimiento-contenedor-tabla">
        <legend><strong>Mantenimientos Listado</strong></legend>
        <table class="tabla-mantenimiento" id="tabla-mantenimiento">
            <thead>
                <tr>
                    <th>N-</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th style="text-align: center;" >Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Reclasificar RN a Hijo de</td>
                    <td id="cantidad_afectados_rn" class="tabla-mantenimiento-celda-cantidad">XX</td>
                    <td class="tabla-mantenimiento-boton-celda">
                        <button class="tabla-mantenimiento-boton" id="btn_reclasificar_rn">
                            <i class="bi-gear-fill"></i>
                            <span>Realizar</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    
                    <td>2</td>
                    <td>Definir Imagenes de usuario</td>
                    <td id="cantidad_usuarios" class="tabla-mantenimiento-celda-cantidad">XX</td>
                    <td class="tabla-mantenimiento-boton-celda">
                        <button class="tabla-mantenimiento-boton" id="btn_definir_imagen_usuario">
                            <i class="bi-gear-fill"></i>
                            <span>Realizar</span>
                        </button>
                    </td>
                    
                </tr>

            </tbody>
        </table>
            

        <a href="javascript:history.back()" class="formularioBotones-boton">
            <i class="bi bi-arrow-left-circle formularioBotones-icono"></i>
            <span>Volver</span>
        </a>


            
    </div>

    
    </div>

    {{ usuarios|json_script:"usuarios-data" }}

    
{% endblock content %}

{% load static %}


{% block media_js %}

    
<script src="{% static 'core/scripts/maintenance/mantenimiento.js' %}"></script>

    <script>
    urls['reclasificarRN'] = "{% url 'consulta_reclasificar_rn' %}";

    </script>



{% endblock media_js %}