{% extends 'core/base.html'%}



{% block title %}Agenda Medica{% endblock title %}

{% block content %}
    <div class="contenedor2 dataTables_wrapper"> 

        <div class="tituloFormulario agenda-medica-header" style="margin-bottom: 2rem;">
            <!-- Título -->
            <div class="tituloFormulario-texto">

                <i class="bi bi-calendar2-range"></i>

                <div class="agenda-medica-titulos">
                    <h2 class="sin-margen">Agenda Medica</h2>
                    <span class="agenda-medica-subtitulo">
                        Listado de períodos laborales
                    </span>
                </div>

            </div>

            <!-- Listados -->
            <div class="agenda-medica-listados">

                <a href="{% url 'listar_agenda_medica' %}"
                        class="agenda-medica-listado activo periodo-laboral">
                    <i class="bi bi-calendar2-range"></i>
                    <span>Períodos laborales</span>
                </a>

                <a href="{% url 'listar_ausencias' %}"
                        class="agenda-medica-listado ausencia">
                    <i class="bi bi-calendar2-x"></i>
                    <span>Ausencias</span>
                </a>

            </div>
            <div class="tituloFormulario-subrallado"></div>
        </div>
    
        <table id="data_table_agenda_medica" class="dataTable stripe hover  row-border" >
            <thead>
                <tr>
                    <th>Personal de salud</th>
                    <th>Especialidad</th>
                    <th>Periodo</th>
                    <th>Jornada</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        <tbody>
        </tbody>
        <tfoot>
                <tr>
                    <th>Personal de salud</th>
                    <th>Especialidad</th>
                    <th>Periodo</th>
                    <th>Jornada</th>
                    <th>Estado</th>
                    <th>Acciones</th>

                </tr>
        </tfoot>
        </table>
    </div>
    
{% endblock content %}

{% load static %}


{% block extra_js %}
<script src="{% static 'core/scripts/modals/agenda_medica_modals.js' %}"></script>

<script src="{% static 'core/scripts/tablas/dataTablesAgendaMedica.js' %}"></script>


<script>
{% if anios %} 
    const anios = {{ anios|safe }};
    let esAusencia = false;
{% endif %} 
</script>
{% endblock extra_js %}